* {
  margin: 0;
  border: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 5px;
}
